MONDAY_API_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjcwNzk0NTIyNSwiYWFpIjoxMSwidWlkIjoxMTc2MzE1MDcsImlhZCI6IjIwMjYtMDktMjZUMDQ6NTM6NDQuMDAwWiIsInBlciI6Im1lOndyaXRlIiwiYWN0aWQiOjM3MDc4NTQ2LCJyZ24iOiJhcHNlMiJ9.uaeIIp-pvQIyIik1UFQLQCr6g2UqZY9yt_A4uFoHpus
MONDAY_BOARD_ID=5031564967
AUTH_DIR=/app/auth_session
PORT=3000
